@font-face {
    font-family: "Microsoft Sans Serif";
    src: url("/fonts/microsoftsansserif.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
  
body {
    font-family: "Microsoft Sans Serif", Arial, sans-serif;
    background-color: #efeff3;
}

.container{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    /* background: var(--theme-text-color-gray); */
}

@supports (-webkit-overflow-scrolling: touch) {
    body.keyboard-closed {
        position: fixed;
        width: 100%;
    }
}